		<div id="footer" class="footer">
			<div class="footer-content">
				<div class="about">
					<dl>
						<dt>关于贱人</dt>
						<dd>
							<a href="#">贱人简介</a>
							<a href="#">贱人公告</a>
						</dd>
						<dd>
							<a href="#">免责声明</a>
							<a href="#">意见反馈</a>
						</dd>
					</dl>
					
					<dl>
						<dt>互动规则</dt>
						<dd>
							<a href="#">投稿规则</a>
							<a href="#">审稿规则</a>
						</dd>
						<dd>
							<a href="#">升级规则</a>
							<a href="#">贱币规则</a>
						</dd>
					</dl>
					
					<dl>
						<dt>关注贱人</dt>
						<dd>
							<a href="#">新浪微博</a>
							<a href="#">QQ空间</a>
						</dd>
						<dd>
							<a href="#">腾讯微博</a>
							<a href="#">微信订阅</a>
						</dd>
					</dl>
					
					<dl>
						<dt>贱人合作</dt>
						<dd>
							<a href="#">贱人QQ群</a>
						</dd>
						<dd>
							<a href="#">合作：jianrenxiao.163.com</a>
						</dd>
					</dl>
				</div>
				<div class="coypright">
					<p>Copyright 2005-2015 jianrenxiao.com 版权所有 宁ICP备13039142号-1 宁ICP证130395号</p>
				</div>
			</div>
		</div>
	</body>
    
    <script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
</html>