<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="贱人笑网站哦">
    <link rel="stylesheet" href="main.css">
    <title>贱人笑H5自适应版</title>
    <!-- 百度分享代码-->
    <script>
        window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"24"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    </script>
</head>
<body>
    <div class="head">
        <div class="head-top">
            <div class="head-container">
                <div class="head-title">
                    <p>贱人笑-分享你身边的搞笑事，无节操，有内涵</p>
                </div>
                <div class="head-login">
                    <a class="head-top-qq">QQ登录</a>
                    <a class="head-top-weibo">微博登录</a>
                    <a>|</a>
                    <a class="head-top-ogin">登录</a>
                    <a class="head-top-reg">注册</a>
                </div>
            </div>
        </div>
        <div class="head-nav-container">
            <div class="head-nav-center">
                <div class="head-nav-logo">
                    <a href="http://www.jianrenxiao.com"> <img src="images/logo.png" alt="贱人笑网"></a>
                </div>
                <div class="head-nav">
                    <ul>
                        <li>
                            <a href="#">首页</a>
                        </li>
                        <li>
                            <a href="#">贱人笑话</a>
                        </li>
                        <li>
                            <a href="#">贱人内涵</a>
                        </li>
                        <li>
                            <a href="#">贱人爆图</a>
                        </li>
                        <li>
                            <a href="#">贱人吐嘈</a>
                        </li>
                    </ul>
                </div>
                <div class="head-nav-wap">
                    <ul>
                        <li>
                            <a href="#">笑话</a>
                        </li>
                        <li>
                            <a href="#">内涵</a>
                        </li>
                        <li>
                            <a href="#">爆图</a>
                        </li>
                    </ul>
                </div>
                <div class="head-wap-login">
                    <a href="#">登录</a>
                </div>
                <hr class="head-hr">
            </div>
        </div>
    </div>
    <div class="content">
       <div class="content-left">
            <div class="content-top-focue">
                <img src="images/top.png">
            </div>
            <div class="content-left-joke">
                <div class="content-left-joke-head">
                    <a href="#">
                        <img class="avatar-icon" src="images/avatar.jpg" alt="标题">
                    </a>
                    <div>
                        <p class="joke-username"><a href="#"> 小贱人</a></p>
                        <p class="joke-title"><a href="#">日理万机</a></p>
                    </div>
                </div>
                <div class="content-left-content">今天在厕所和老板一起撒尿，
                    老板:小伙子比我的大哟！我……:老板，您日里万机，用的多磨细的。
                    老板:小伙子有眼光，我喜欢！</div>
                <div class="content-left-comment" id="main-left-comment">
                    <div class="comment-dingcai">
                        <a class="ding" id="up381" href="javascript:void(0);" title="顶" onclick="digg(381,1,1)">0</a>
                        <span class="line">|</span>
                        <a class="cai" id="down381" href="javascript:void(0);" onclick="digg(381,0,1)">0</a>
                        <span class="line">|</span>
                        <a class="comment-btn" href="#" title="评论" onclick="Effect('showHideId',this.parentNode.id)">0</a>
                        <span class="line">|</span>
                    </div>
                    <div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1449732411607">
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    </div>
                </div>
            </div>
            <div class="content-left-joke">
               <div class="content-left-joke-head">
                   <a href="#">
                       <img class="avatar-icon" src="images/avatar.jpg" alt="标题">
                   </a>
                   <div>
                       <p class="joke-username"><a href="#"> 小贱人</a></p>
                       <p class="joke-title"><a href="#">日理万机</a></p>
                   </div>
               </div>
               <div class="content-left-content">今天在厕所和老板一起撒尿，
                   老板:小伙子比我的大哟！我……:老板，您日里万机，用的多磨细的。
                   老板:小伙子有眼光，我喜欢！</div>
               <div class="content-left-comment" id="main-left-comment">
                   <div class="comment-dingcai">
                       <a class="ding" id="up381" href="javascript:void(0);" title="顶" onclick="digg(381,1,1)">0</a>
                       <span class="line">|</span>
                       <a class="cai" id="down381" href="javascript:void(0);" onclick="digg(381,0,1)">0</a>
                       <span class="line">|</span>
                       <a class="comment-btn" href="#" title="评论" onclick="Effect('showHideId',this.parentNode.id)">0</a>
                       <span class="line">|</span>
                   </div>
                   <div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1449732411607">
                       <a href="#" class="bds_more" data-cmd="more"></a>
                       <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                       <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                       <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                       <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                       <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                   </div>
               </div>
           </div>
            <div class="content-left-joke">
               <div class="content-left-joke-head">
                   <a href="#">
                       <img class="avatar-icon" src="images/avatar.jpg" alt="标题">
                   </a>
                   <div>
                       <p class="joke-username"><a href="#"> 小贱人</a></p>
                       <p class="joke-title"><a href="#">日理万机</a></p>
                   </div>
               </div>
               <div class="content-left-content">今天在厕所和老板一起撒尿，
                   老板:小伙子比我的大哟！我……:老板，您日里万机，用的多磨细的。
                   老板:小伙子有眼光，我喜欢！</div>
               <div class="content-left-comment" id="main-left-comment">
                   <div class="comment-dingcai">
                       <a class="ding" id="up381" href="javascript:void(0);" title="顶" onclick="digg(381,1,1)">0</a>
                       <span class="line">|</span>
                       <a class="cai" id="down381" href="javascript:void(0);" onclick="digg(381,0,1)">0</a>
                       <span class="line">|</span>
                       <a class="comment-btn" href="#" title="评论" onclick="Effect('showHideId',this.parentNode.id)">0</a>
                       <span class="line">|</span>
                   </div>
                   <div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1449732411607">
                       <a href="#" class="bds_more" data-cmd="more"></a>
                       <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                       <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                       <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                       <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                       <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                   </div>
               </div>
           </div>
            <div class="content-left-joke">
               <div class="content-left-joke-head">
                   <a href="#">
                       <img class="avatar-icon" src="images/avatar.jpg" alt="标题">
                   </a>
                   <div>
                       <p class="joke-username"><a href="#"> 小贱人</a></p>
                       <p class="joke-title"><a href="#">日理万机</a></p>
                   </div>
               </div>
               <div class="content-left-content">今天在厕所和老板一起撒尿，
                   老板:小伙子比我的大哟！我……:老板，您日里万机，用的多磨细的。
                   老板:小伙子有眼光，我喜欢！</div>
               <div class="content-left-comment" id="main-left-comment">
                   <div class="comment-dingcai">
                       <a class="ding" id="up381" href="javascript:void(0);" title="顶" onclick="digg(381,1,1)">0</a>
                       <span class="line">|</span>
                       <a class="cai" id="down381" href="javascript:void(0);" onclick="digg(381,0,1)">0</a>
                       <span class="line">|</span>
                       <a class="comment-btn" href="#" title="评论" onclick="Effect('showHideId',this.parentNode.id)">0</a>
                       <span class="line">|</span>
                   </div>
                   <div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1449732411607">
                       <a href="#" class="bds_more" data-cmd="more"></a>
                       <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                       <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                       <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                       <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                       <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                   </div>
               </div>
           </div>
            <div class="content-left-joke">
               <div class="content-left-joke-head">
                   <a href="#">
                       <img class="avatar-icon" src="images/avatar.jpg" alt="标题">
                   </a>
                   <div>
                       <p class="joke-username"><a href="#"> 小贱人</a></p>
                       <p class="joke-title"><a href="#">日理万机</a></p>
                   </div>
               </div>
               <div class="content-left-content">今天在厕所和老板一起撒尿，
                   老板:小伙子比我的大哟！我……:老板，您日里万机，用的多磨细的。
                   老板:小伙子有眼光，我喜欢！</div>
               <div class="content-left-comment" id="main-left-comment">
                   <div class="comment-dingcai">
                       <a class="ding" id="up381" href="javascript:void(0);" title="顶" onclick="digg(381,1,1)">0</a>
                       <span class="line">|</span>
                       <a class="cai" id="down381" href="javascript:void(0);" onclick="digg(381,0,1)">0</a>
                       <span class="line">|</span>
                       <a class="comment-btn" href="#" title="评论" onclick="Effect('showHideId',this.parentNode.id)">0</a>
                       <span class="line">|</span>
                   </div>
                   <div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1449732411607">
                       <a href="#" class="bds_more" data-cmd="more"></a>
                       <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                       <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                       <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                       <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                       <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                   </div>
               </div>
           </div>
            <div class="content-left-joke">
               <div class="content-left-joke-head">
                   <a href="#">
                       <img class="avatar-icon" src="images/avatar.jpg" alt="标题">
                   </a>
                   <div>
                       <p class="joke-username"><a href="#"> 小贱人</a></p>
                       <p class="joke-title"><a href="#">日理万机</a></p>
                   </div>
               </div>
               <div class="content-left-content">今天在厕所和老板一起撒尿，
                   老板:小伙子比我的大哟！我……:老板，您日里万机，用的多磨细的。
                   老板:小伙子有眼光，我喜欢！</div>
               <div class="content-left-comment" id="main-left-comment">
                   <div class="comment-dingcai">
                       <a class="ding" id="up381" href="javascript:void(0);" title="顶" onclick="digg(381,1,1)">0</a>
                       <span class="line">|</span>
                       <a class="cai" id="down381" href="javascript:void(0);" onclick="digg(381,0,1)">0</a>
                       <span class="line">|</span>
                       <a class="comment-btn" href="#" title="评论" onclick="Effect('showHideId',this.parentNode.id)">0</a>
                       <span class="line">|</span>
                   </div>
                   <div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1449732411607">
                       <a href="#" class="bds_more" data-cmd="more"></a>
                       <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                       <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                       <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                       <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                       <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                   </div>
               </div>
           </div>
            <div class="content-left-joke">
               <div class="content-left-joke-head">
                   <a href="#">
                       <img class="avatar-icon" src="images/avatar.jpg" alt="标题">
                   </a>
                   <div>
                       <p class="joke-username"><a href="#"> 小贱人</a></p>
                       <p class="joke-title"><a href="#">日理万机</a></p>
                   </div>
               </div>
               <div class="content-left-content">今天在厕所和老板一起撒尿，
                   老板:小伙子比我的大哟！我……:老板，您日里万机，用的多磨细的。
                   老板:小伙子有眼光，我喜欢！</div>
               <div class="content-left-comment" id="main-left-comment">
                   <div class="comment-dingcai">
                       <a class="ding" id="up381" href="javascript:void(0);" title="顶" onclick="digg(381,1,1)">0</a>
                       <span class="line">|</span>
                       <a class="cai" id="down381" href="javascript:void(0);" onclick="digg(381,0,1)">0</a>
                       <span class="line">|</span>
                       <a class="comment-btn" href="#" title="评论" onclick="Effect('showHideId',this.parentNode.id)">0</a>
                       <span class="line">|</span>
                   </div>
                   <div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1449732411607">
                       <a href="#" class="bds_more" data-cmd="more"></a>
                       <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                       <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                       <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                       <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                       <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                   </div>
               </div>
           </div>
            <div class="link-page">
                <div class="page">分布</div>
            </div>
        </div>
        <div class="content-right">
            <div class="content-right-top">
                <img src="images/login.jpg" alt="微信关注">
            </div>
            <div class="content-right-newjoke-container">
                <div class="content-right-newjoke-head">
                    <dl class="newjoke-head-title">
                        <dt>新笑话 抢先看</dt>
                    </dl>
                    <dl class="newjoke-head-more"><a href="#">查看更多</a></dl>
                </div>
                <div class="newjoke-content">
                    <img class="right-newjoke-avatar" src="images/avatar.jpg">
                    <div class="right-newjoke-content">
                        <p><a href="#">小贱人</a></p>
                        <p><a href="#">等等，有线头</a></p>
                    </div>
                </div>
                <div class="newjoke-content">
                    <img class="right-newjoke-avatar" src="images/avatar.jpg">
                    <div class="right-newjoke-content">
                        <p><a href="#">小贱人</a></p>
                        <p><a href="#">等等，有线头</a></p>
                    </div>
                </div>
                <div class="newjoke-content">
                    <img class="right-newjoke-avatar" src="images/avatar.jpg">
                    <div class="right-newjoke-content">
                        <p><a href="#">小贱人</a></p>
                        <p><a href="#">等等，有线头</a></p>
                    </div>
                </div>
                <div class="newjoke-content">
                    <img class="right-newjoke-avatar" src="images/avatar.jpg">
                    <div class="right-newjoke-content">
                        <p><a href="#">小贱人</a></p>
                        <p><a href="#">等等，有线头</a></p>
                    </div>
                </div>
                <div class="newjoke-content">
                    <img class="right-newjoke-avatar" src="images/avatar.jpg">
                    <div class="right-newjoke-content">
                        <p><a href="#">小贱人</a></p>
                        <p><a href="#">等等，有线头</a></p>
                    </div>
                </div>
            </div>
            <div class="right-textjoke-container">
                <div class="right-textjoke-head">
                    <p class="textjoke-title"><a href="#">精彩文字笑话</a></p>
                    <p class="textjoke-more"><a href="#">更多</a></p>
                </div>
                <div class="content-textjoke-content">
                    <li>
                        <a href="#">这里是笑话内容</a>
                    </li>
                    <li>
                        <a href="#">这里是笑话内容</a>
                    </li>
                    <li>
                        <a href="#">这里是笑话内容</a>
                    </li>
                    <li>
                        <a href="#">这里是笑话内容</a>
                    </li>
                    <li>
                        <a href="#">这里是笑话内容</a>
                    </li>
                    <li>
                        <a href="#">这里是笑话内容</a>
                    </li>
                    <li>
                        <a href="#">这里是笑话内容</a>
                    </li>
                    <li>
                        <a href="#">这里是笑话内容</a>
                    </li>
                    <li>
                        <a href="#">这里是笑话内容</a>
                    </li>
                    <li>
                        <a href="#">这里是笑话内容</a>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="about">
                <dl>
                    <dt>关于贱人</dt>
                    <dd>
                        <a href="#">贱人简介</a>
                        <a href="#">贱人公告</a>
                    </dd>
                    <dd>
                        <a href="#">免责声明</a>
                        <a href="#">意见反馈</a>
                    </dd>
                </dl>

                <dl>
                    <dt>互动规则</dt>
                    <dd>
                        <a href="#">投稿规则</a>
                        <a href="#">审稿规则</a>
                    </dd>
                    <dd>
                        <a href="#">升级规则</a>
                        <a href="#">贱币规则</a>
                    </dd>
                </dl>

                <dl>
                    <dt>关注贱人</dt>
                    <dd>
                        <a href="#">新浪微博</a>
                        <a href="#">QQ空间</a>
                    </dd>
                    <dd>
                        <a href="#">腾讯微博</a>
                        <a href="#">微信订阅</a>
                    </dd>
                </dl>

                <dl>
                    <dt>贱人合作</dt>
                    <dd>
                        <a href="#">贱人QQ群</a>
                    </dd>
                    <dd>
                        <a href="#">合作：jianrenxiao.163.com</a>
                    </dd>
                </dl>
            </div>
            <div class="coypright">
                <p>Copyright 2005-2015 jianrenxiao.com 版权所有 宁ICP备13039142号-1 宁ICP证130395号</p>
            </div>
        </div>
    </div>
</body>
</html>